body {
    background: rgb(29, 69, 19);
    color: rgb(212, 69, 44);
    
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deal {
    background: rgb(29, 69, 19);
    color: rgb(212, 69, 44);    
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hand {
    display: flex;
    justify-content: center;
    align-items: center;
}